:root {
  background-color: #ecf5ff;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: white;
  background-color: black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  text-align: center;
}

.fa {
  text-decoration: none;
}
