html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
}

.myHeader {
  align-items: center;
}

.myFooter {
  /* display: flex; */
  /* justify-content: center; */
  /* position: absolute-bottom; */
  /* display: inline-block; */
  align-items: center;
}
